<!-- search bar -->
<div class="container search-bar">
  <div class="search-bar-outer">
    <div class="search-bar-inner">
      <form action="/restaurants" method="get">
        <h4 class="mb-2">尋找餐廳：</h4>
        <div class="input-group">
          <input type="text" name="keyword" class="form-control" placeholder="輸入餐廳、分類" aria-label="Restaurant Name..."
            value="{{keyword}}" aria-describedby="search-button" disabled>
          <div class="input-group-append">
            <button class="btn btn-major" type="submit" id="search-button" disabled><i
                class="fas fa-search"></i></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="container mt-5">
  <div class="row">
    {{!-- <div class="row">
      <div class="col-12">
        <a href="/restaurants/new" class="btn btn-primary btn-lg">新增餐廳</a>
      </div>
    </div> --}}
    <div class="col-md-10 col-12 mx-auto">
      <div class="row row-cols-sm-3 restautants-list">
        {{#each restaurants as |restaurant|}}
        <span class="text-secondary">
          <div class="card mb-3">
            <img class="card-img-top" src="{{restaurant.image}}" alt="{{restaurant.name}}">
            <div class="card-body p-3">
              <h6 class="card-title mb-1">{{restaurant.name}}</h6>
              <div class="restaurant-category mb-1">
                <i class="fas fa-utensils pr-2"></i> {{restaurant.category}}
              </div>
              <div class="card-button">
                <a href="/restaurants/{{restaurant.id}}/edit">
                  <button class="btn btn-secondary">Edit</button>
                </a>
                <a href="/restaurants/{{restaurant.id}}">
                  <button class="btn btn-info">Detail</button>
                </a>
                <form action="/restaurants/{{restaurant.id}}?_method=DELETE" class="restaurant-delete" method="POST"
                  style="display: inline;">
                  <button class="btn btn-danger" type="submit">delete</button>
                </form>
              </div>
            </div>
          </div>
        </span>
        {{/each}}
      </div>
    </div>
  </div>
</div>

<script>
  const deleteEvent = document.querySelector('.restautants-list')
  deleteEvent.addEventListener('submit', (submitEvent) => {
    if (submitEvent.target.matches('.restaurant-delete')) {
      if (!confirm('您確定要刪除該筆資料嗎？')) {
        event.preventDefault()
        event.stopPropagation()
      }
    }
  })
</script>